@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.num-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    color: white;
    background: blue;
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.response {
    color: black;
    font-size: 35px;
    margin-top: 40px;
    font-weight: bold;
    font-family: "Bree serif";
}

.success {
    color: #fff;
    background: green;
    padding: 10px;
    border-radius: 8px;
}

.failed {
    color: #fff;
    background: red;
    padding: 10px;
    border-radius: 8px;
}

#spinner {
    color: #000;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-top: 40px;
}